In [16]:
import pandas as pd

file_path = "../data/F-F_Research_Data_5_Factors_2x3_daily.CSV"
df = pd.read_csv(file_path, skiprows=3)
df.head()

  Unnamed: 0  Mkt-RF   SMB   HML   RMW   CMA    RF
0   19630701   -0.67  0.00 -0.34 -0.01  0.16  0.01
1   19630702    0.79 -0.26  0.26 -0.07 -0.20  0.01
2   19630703    0.63 -0.17 -0.09  0.18 -0.34  0.01
3   19630705    0.40  0.08 -0.27  0.09 -0.34  0.01
4   19630708   -0.63  0.04 -0.18 -0.29  0.14  0.01

In [17]:
df = df[df.iloc[:,0].str.isdigit()]
df.head()
df.tail()

      Unnamed: 0  Mkt-RF   SMB   HML   RMW   CMA    RF
15685   20251027    1.17 -0.81 -1.21 -0.23 -1.19  0.02
15686   20251028    0.18 -0.34 -0.61  0.63 -1.01  0.02
15687   20251029   -0.09 -0.98 -0.81  0.30 -1.37  0.02
15688   20251030   -1.10  0.00  0.67 -0.27  0.42  0.02
15689   20251031    0.40 -0.07 -0.24 -1.31  0.18  0.02

In [18]:
df = df.rename(columns={"Unnamed: 0": "date"})

In [19]:
df["date"] = pd.to_datetime(df["date"], format="%Y%m%d")

In [20]:
factor_cols = ["Mkt-RF", "SMB", "HML", "RMW", "CMA", "RF"]

df[factor_cols] = df[factor_cols].astype(float) / 100

In [21]:
df.to_csv("../data/raw/fama_french_factors.csv", index=False)
print("Saved cleaned factors to data -> raw -> fama french factors")

Saved cleaned factors to data -> raw -> fama french factors